<!-- Footer -->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p class="m-0">&copy; hyperblender 2019</p>
        </div>
        <div class="col-sm-6">
            <p class="m-0 text-right""><a href="/app/contact" style="color: var(--light);">nous contacter</a></p>
        </div>
    </div>
</div>