<div class="container">
    <div class="row my-5">
        <div class="col-lg-6">
            <h2 class="mb-5">bien commencer avec hyperblender</h2>
            <p>vous commencerez par ajouter vos calendriers, vous pourrez ajouter des filtres sur ces calendriers afin de masquer certains évenements. Les calendriers apparaitront alors dans l'agenda, sur la page d'acceuil.</p>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
    <div class="row my-3">
        <button class="btn btn-info btn-lg mx-auto shadow" href="/app">commencer</button>
    </div>
</div>