<div id="content" class="container text-center">
    <div class="my-5">
        <h1>✅</h1>
        <h1>votre adresse email est validée</h1>
        <p><%-usermail%></p>
    </div>
    <hr>
    <p class="lead my-5">vous avez maintenant accès à toutes les fonctionnalités du site</p>
    <a href="/auth" class="btn btn-primary"><i class="fas fa-chevron-right"></i> continuer vers le site</a>
</div>